nav ul{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: blueviolet;
}


.index-content h1{
    text-align: center;
    font-size: 60px;
}

.index-content p{
    text-align: center;
    margin: 200px 0;
    background-color: lightblue;
    padding: 50px;
    font-size: 20px;
    color: white;
    text-shadow: 10px 5px 3px rgba(0,0,0,0.2);
}


/* BILDER */

main{
    padding: 20px;
}

.bilder h1{
    text-align: center;
}

.bildepunkt-spm{
    font-style: italic;
}

.bildepunkter-section{
    background-color: lightgoldenrodyellow;
}

.kompresjon-typer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-card{
    padding: 10px;
    border: 3px solid rgba(65, 102, 171, 0.5);
}

.kompresjon-typer h3{
    padding: 10px;
    font-size: 30px;
    background-color: aliceblue;
}
























/* TEGNSETT */



h1{
    display: flex;
    justify-content: center;

    font-size: 10vh;
}

.tegnsett{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.tegnsett-info{
    background-color: rgb(171, 202, 229);
    text-align: center;
}

.tegnsett-info h2{
    font-size: 6vh;
}

.tegnsett-bilde > img{
    display: block;
    width: 100%;

}

.kompresjon-section{
    background-color: lightblue;
}

table{
    border-collapse: collapse;
    border: 2px solid;
    margin: 0 auto;
   
}

td, th{
    border: 2px solid;
    padding: 10px;
    font-size: 20px;
}

.fil-section{
    background-color: lightcoral;
}