img{
    width: 100%;
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
}





nav ul{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(161, 94, 223);
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 19px;
}

nav a:hover{
    background-color: rgb(102, 46, 155);
    padding: 10px;
    border-radius: 10px;
    transition: 300ms;
}



.index-content h1{
    text-align: center;
    font-size: 60px;
}

.index-content p{
    text-align: center;
    margin: 200px 0;
    background-color: lightblue;
    padding: 50px;
    font-size: 20px;
    color: white;
    text-shadow: 10px 5px 3px rgba(0,0,0,0.2);
}


/* BILDER */
h2{
    font-size: 40px;
}

main{
    padding: 20px;
}

.bildepunkt-spm{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.bildepunkter-section{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


.pixel-bilde{
    margin: 0 auto;
}

.kompresjon-typer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-card{
    padding: 10px;
    border: 3px solid rgba(65, 102, 171, 0.5);
}

.kompresjon-typer h3{
    padding: 10px;
    font-size: 30px;
    background-color: aliceblue;
}



table{
    border-collapse: collapse;
    border: 2px solid;
    margin: 0 auto;
   
}

td, th{
    border: 2px solid;
    padding: 10px;
    font-size: 20px;
}

.fil-section{
    margin: 30px 0;
  }  

.bildepunkter-section, .fil-section{
    background-color: rgb(212, 234, 248);
    padding: 20px;
}










/* TEGNSETT */



h1{
    display: flex;
    justify-content: center;

    font-size: 10vh;
}

.tegnsett{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.tegnsett-info{
    background-color: rgb(171, 202, 229);
    text-align: center;
}

.tegnsett-info h2{
    font-size: 6vh;
}

.tegnsett-bilde > img{
    display: block;
    width: 100%;

}